@model IEnumerable<giadinhthoxinh.Models.tblCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sCategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK_iCategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK_iCategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK_iCategoryID })
        </td>
    </tr>
}

</table>
