@model giadinhthoxinh.Models.tblOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sCustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCustomerPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCustomerPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sDeliveryAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sDeliveryAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dInvoidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dInvoidDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sBiller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sBiller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iDeliveryMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iDeliveryMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fSurcharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fSurcharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser.sEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser.sEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_iOrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
