@model giadinhthoxinh.Models.tblPromote

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblPromote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sPromoteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sPromoteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sPromoteRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sPromoteRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtStartDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtStartDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtEndDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtEndDay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_iPromoteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
