@model giadinhthoxinh.Models.tblReview

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblReview</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.iStarRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iStarRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtReviewTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtReviewTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblProduct.sProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblProduct.sProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser.sEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser.sEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_iReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
