@model IEnumerable<giadinhthoxinh.Models.tblCheckinDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.iQuatity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblImportOrder.sDeliver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblProduct.sProductName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.iQuatity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblImportOrder.sDeliver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblProduct.sProductName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK_iCheckinDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK_iCheckinDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK_iCheckinDetailID })
        </td>
    </tr>
}

</table>
