@model giadinhthoxinh.Models.tblImportOrder

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblImportOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dtDateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtDateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sDeliver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sDeliver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser.sEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser.sEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblSupplier.sSupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblSupplier.sSupplierName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
